.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255,255,255,.7);
    z-index: 9999;
    transition: box-shadow .3s;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}

.header__container {
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 25px;
    transition:  padding-top .3s,  padding-bottom .3s;
}

.header_mini {
    box-shadow: 0 0 30px -11px rgba(0,0,0,0.8);
}

.header_mini .header__container {
    padding-top: 5px;
    padding-bottom: 5px;
}

.logo {
    display: block;
}

.logo__img {
    display: block;
    height: 40px;
}

.menu__list {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu__item:not(:last-child) {
    margin-right: 20px;
}

.menu__link {
    font-size: 16px;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}