.portfolio-body {
    height: 400px;
    margin: 0 20px;
    font-weight: bold;
    background: #fff;
}

.projects-row {
    display: flex;
    flex-direction: row;
}

.portfolio-item {
    /*position: relative;*/
    display: inline-block;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;
}

.proj-container {
    position: relative;
    overflow: hidden;
}

.proj-container img {
    height: 200px;
    width: 100%;
    display: block;
    transition: transform 0.3s ease; /* добавлен эффект плавного изменения масштаба */
}

.proj-container:hover img {
    transform: scale(1.1); /* масштабирование изображения при наведении */
    filter: brightness(35%);
    border-radius: 10px;
}

.overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    opacity: 0;
    transition: opacity 0.3s ease;
}

.portfolio-item:hover .overlay {
    opacity: 1;
}

.overlay h3 {
    margin-bottom: 10px;
}

.overlay p {
    font-size: 14px;
}