.App {

}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: 'Menlo', 'Monaco', 'Courier New', monospace;
}

img {
  max-width: 100%;
}