@import url("https://fonts.googleapis.com/css?family=Montserrat:600&display=swap");

.page-body {
  max-height: 270px;
  min-height: 170px;
  margin: 0 20px;
  font-weight: bold;
  background: #fff;
}

span {
  position: relative;
  display: inline-flex;
  width: 180px;
  height: 55px;
  perspective: 1000px;
}

span a {
  font-size: 19px;
  letter-spacing: 1px;
  transform-style: preserve-3d;
  transform: translateZ(-25px);
  transition: transform 0.25s;
}

span a:before,
span a:after {
  position: absolute;
  content: "CV.pdf";
  height: 55px;
  width: 180px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid rgba(11, 11, 11, 0.93);
  box-sizing: border-box;
  border-radius: 5px;
}

span a:before {
  color: #fff;
  background: rgba(11, 11, 11, 0.93);
  transform: rotateY(0deg) translateZ(25px);
}

span a:after {
  color: rgba(11, 11, 11, 0.93);
  transform: rotateX(90deg) translateZ(25px);
}

span a:hover {
  transform: translateZ(-25px) rotateX(-90deg);
}
